<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<table border="1">
    <tr>
        <td>Schedule</td>
    </tr>
    {% for lane in workByLanes %}
        {% if lane.0 != None %}

            <tr>
                <td>
                    {{ lane.0.lane }}
                </td>
                {% for work in lane %}
                    <td>{{ work.feature }}</td>
                {% endfor %}
            <tr>
        {% else %}
            <tr>
            <td>
                Empty lane
            </td>
            </tr>
        {% endif %}
    {% endfor %}
</table>

</body>
</html>